<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ tournament.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let e of events" (click)='openEvent(e.id)'>
    <ion-item>
      <h2>{{ e.name }}</h2>
    </ion-item>
    <ion-card-content>
      <p>{{ e.startDate | date: 'dd/MM/yyyy' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="authService.isAdmin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openNewEventPage(tournament.id)"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="cancelTournament()"><ion-icon name="close"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openPage(tournament.id, 'edit-event')" *ngIf="authService.isAdmin"><ion-icon name="add"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openPage(tournament.id, 'add-athletes')" *ngIf="authService.isAdmin"><ion-icon name="contact"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openPage(tournament.id, 'add-judges')" *ngIf="authService.isAdmin"><ion-icon name="contacts"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openPage(tournament.id, 'edit-tournament')" *ngIf='authService.isAdmin'><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
