<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="cancelScore()"><ion-icon name="close"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="deleteScore()"><ion-icon name="trash"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="saveScore()"><ion-icon name="checkmark"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="presentActionSheet()" *ngIf='score.id'><ion-icon name="camera"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-item>
    <ion-label>Athlete</ion-label>
<!--
    <ionic-selectable
      [(ngModel)]="score.athlete"
      [items]="athletes"
      itemValueField="athlete"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="athleteChange($event)">
    </ionic-selectable>
-->
    <ion-select [(ngModel)]="score.athlete" [compareWith]="compareObj">
      <ion-select-option *ngFor="let a of athletes" [value]="a">{{a.name + ' ' + a.lastName}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="score.category">
      <ion-select-option value="menRx">Men Rx</ion-select-option>
      <ion-select-option value="womenRx">Women Rx</ion-select-option>
      <ion-select-option value="menSc">Men Sc</ion-select-option>
      <ion-select-option value="womenSc">Women Sc</ion-select-option>
      <ion-select-option value="55">55+</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>Judge</ion-label>
<!--
    <ionic-selectable
      item-content
      [(ngModel)]="score.judge"
      [items]="judges"
      itemValueField="judge"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="judgeChange($event)">
    </ionic-selectable>
-->
    <ion-select [(ngModel)]="score.judge" [compareWith]="compareObj">
      <ion-select-option *ngFor="let j of judges" [value]="j">{{j.name + ' ' + j.lastName}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <!--<ion-datetime [(ngModel)]="score.date" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY" [min]="minDate" [max]="maxDate"></ion-datetime>-->
    <ion-datetime [(ngModel)]="score.date" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Location</ion-label> 
    <ion-input [(ngModel)]="score.location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Time</ion-label>
    <ion-input [(ngModel)]="score.timeScored"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Score</ion-label> 
    <ion-input [(ngModel)]="score.score" type="number"></ion-input>
  </ion-item>

  <img [src]="score.imgUrl" *ngIf="score.imgUrl" (click)="presentActionSheet()"/>
  <!--<img [src]="capturedSnapURL" />-->
</ion-content>
